<h1>
The required results are
</h1>
<ul>
<li><strong>city----- min temp-----max temp</strong></li>	

<li><%= data["name"]%>-----
<%= data["main"]["temp_min"]%>-----<%=data["main"]["temp_max"]%></li>






<a href="/">search again</a>